/* Center table in page */
table {
  margin: 0 auto;
}

/* Center title */
h1 {
  text-align: center;
}

/* drew sudoku table */

.sudoku-table {
  font-size: 1.75em;
  border: 6px solid #444;
  border-collapse: collapse;
  background: #fff;
}

tr,
td {
  border: 2px solid #444;
  width: 50px;
  height: 50px;
  text-align: center;
}

td:not([contenteditable]) {
  background: rgba(222, 245, 97, 0.59);
}

.incorrect-input {
  background: red;
}
